$teal: #00ced1;
$bluejay: #2B547E;
$white: #FFF;
$black: #333;
$light-grey: #e4e4e4;
$another-grey: #CCC;
$dark-grey: #747474;
$navy: #417d9a;
$red: #e15846;
$orange: #f67a00;
$green: #00b012;
$kelly-green: #4CC552;
$dollar-bill-green: #85BB65;
$sandy-brown: #EE9A4D;
$saffron: #FBB917;
$purple-flower: #A74AC7;
$transparent: transparent;

$itech: #4b2cff;
$bestandco: #3eb049;
$ewb: #006637;
$uh: #009ee1;
$justit: #e32084;
$pma: #c9070f;
$optimax: #0082c8;
$argos: #de3434;
$anton-paar: #cc0001;
$linkedin: #007bb5;
$thoughtbubble: #11b5ea;
$twitter: #55acee;
$github: #6cc644;
$instagram: #E1306C;

$early-morning: $sandy-brown;
$morning: $saffron;
$lunch: $kelly-green;
$afternoon: $dollar-bill-green;
$evening: $teal;
$dinner: $light-grey;
$late-evening: $purple-flower;
$night: $another-grey;
