.skillset {
  background-image: url('../media/images/skillset-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &__copy {
    font: var(--font-large-body-copy);
    margin: px-to-rem(25) px-to-rem(0);
    text-align: center;
    color: $white;
  }

  &__filter {
    margin-bottom: px-to-rem(15);
    text-align: center;

    &--btn {
      @include browser-prefix('transition', 'all 500ms ease');
      @include browser-prefix('appearance', 'none');
      border: none;
      padding: px-to-rem(10) px-to-rem(16);
      background-color: $white;
      color: $bluejay;
      cursor: pointer;

      @include breakpoint(mobile, min-width) {
        padding: px-to-rem(10) px-to-rem(25);
      }

      &:first-child {
        border-top-left-radius: px-to-rem(8);
        border-bottom-left-radius: px-to-rem(8);
      }

      &:last-child {
        border-top-right-radius: px-to-rem(8);
        border-bottom-right-radius: px-to-rem(8);
      }

      &:hover {
        background-color: $bluejay;
        color: $white;
      }

      &-active {
        background-color: $bluejay;
        color: $white;
      }
    }
  }

  &__language {
    &--label {
      margin-top: px-to-rem(-20);
      display: flex;
      justify-content: center;

      &-block {
        font: var(--font-small-print);
        display: block;
        width: fit-content;
        color: $white;
        padding: px-to-rem(5) px-to-rem(15);
        text-shadow: px-to-rem(0) px-to-rem(2) px-to-rem(2) $black;
      }
    }

    &--block {
      margin: px-to-rem(15) px-to-rem(0);
      cursor: pointer;
    }

    &--image {
      @include browser-prefix('border-radius', '50%');
      border: px-to-rem(5) solid $white;
      width: px-to-rem(170);
      height: px-to-rem(170);
    }

    &--text {
      visibility: hidden;

      &-copy {
        margin-top: px-to-rem(25);
        color: $white;
        font: var(--font-large-body-light-copy);
        text-align: center;
      }
    }
  }

  &__element {
    text-decoration: none;
    cursor: pointer;

    &--active .skillset__language--text {
      visibility: visible;
    }

    &--hide {
      display: none;
    }

    &--show {
      display: block;
    }
  }
}
